/* 
Couleurs:
Font-Color (Couleur du texte principal) : #2C2C2C (Gris foncé chaud)
Font-Color-Secondary (Couleur du texte secondaire) : #6C6C6C (Gris chaud)
Background-Color (Couleur de fond principal) : #FFEBCD (Blé)
Background-Color-Secondary (Couleur de fond secondaire) :   (Orange sandy)
Button (Couleur des boutons) : #FF6347 (Tomate) 

Typos:
font-family: 'Wallpoet', cursive;

*/



/* header */


/* main */


/* footer */
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #FF6347;
}


body {
    background-color: #FFEBCD;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #6C6C6C;
    overflow: hidden;
    display: flex;
    align-items: center;    
    padding: 10px 20px;
    
}

.navbar a {
    color: #FF6347;
    text-align: center;
    text-decoration: none;
    font-family: 'Wallpoet';
    font-size: 2em;            
    padding: 10px 20px;
}



.navbar .logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    max-width: 25%;
}

.navbar .centered-links {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .contact {
    flex: 1;
    text-align: right;
    padding-right: 20px;            
}
