/* 
Couleurs:
Font-Color (Couleur du texte principal) : #2C2C2C (Gris foncé chaud)
Font-Color-Secondary (Couleur du texte secondaire) : #6C6C6C (Gris chaud)
Background-Color (Couleur de fond principal) : #FFEBCD (Blé)
Background-Color-Secondary (Couleur de fond secondaire) : #F4A460  (Orange sandy)
Button (Couleur des boutons) : #FF6347 (Tomate) 

Typos:
font-family: 'Wallpoet', 'Segoe UI', 'Helvetica',  

*/


body {
    background-color: #F4A460;
    margin: 0;
    font-family: Arial, sans-serif;
}

.preload {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url("image/image1a.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(5px) brightness(80%);
    z-index: 1;
}

.containerlogo {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#logopreload {
    text-align: center;
    color: #FF6347;
    font-family: 'Wallpoet', cursive;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#logopreload img {
    width: 350px;
}

#logopreload img:hover {
    cursor: pointer;
}

#logopreload h1:hover {
    cursor: pointer;
}

/* header */

.navbar {
    background-color: #6C6C6C;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.navbar a {
    color: #FF6347;
    text-align: center;
    text-decoration: none;
    font-family: 'Wallpoet';
    font-size: 2em;
    padding: 10px 20px;
}

.navbar .logo {
    position: relative;
    overflow: hidden;
}

.navbar .logo img {
    max-width: 35%;
}

.navbar .centered-links {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .contact {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

/* main */

/* à propos */
#propos {
    background: url("image/image7a.png");
    filter: brightness(70px);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 5%;
    color: #FFEBCD;
}

#propos div {
    text-align: center;

}

#propos p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.introduction {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* histoire */
.histoire {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* citations */
.citation {
    font-style: italic;
    color: #FF6347;
}

/* contact */
.btn-contact {
    display: inline-block;
    background-color: #6C6C6C;
    color: #FFEBCD;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
}

.btn-contact:hover {
    background-color: transparent;
}

/* contact form */
#contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#contact_form input {
    background-color: #FFEBCD;
    border: none;
    padding: 20px;
    width: 1000px;
    margin-bottom: 100px;
}

#contact_form input::placeholder {
    color: #2C2C2C;
}

#contact_form textarea {
    border: none;
    padding: 20px;
    width: 1000px;
    margin-bottom: 100px;
    background-color: #FFEBCD;
}

#contact_form textarea::placeholder {
    color: #2C2C2C;

}

#contact_form button {
    border: none;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    background-color: #6C6C6C;
    color: #FFEBCD;
}

/* galerie */
.ajout-photo {
    background-color: #2C2C2C;
    color: #FFEBCD;
}

.ajout-photo:hover {
    background-color: #6C6C6C;
    color: #FFEBCD;
}

.modal-galerie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-header {
    color: #FF6347;
    background-color: #2C2C2C;
    border: none;
}

.modal-body {
    background-color: #F4A460;
}

.modal-footer {
    background-color: #FFEBCD;
}

.modal-footer .annuler {
    background-color: #6C6C6C;
    color: #FFEBCD;
}

.modal-footer .enregistrer {
    background-color: #2C2C2C;
    color: #FFEBCD;
}

#send-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#send-photo input {
    background-color: #FFEBCD;
    margin-bottom: 10px;
    border: none;
}

#send-photo textarea {
    background-color: #FFEBCD;
    border: none;
}

.grid-galerie {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 10em;
    margin: 20em 0;
}

.text-galerie {
    text-align: center;
    color: #FFEBCD;
    font-size: 24px;
    background-color: #2C2C2C;
}


.cadre-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 571px;
    display: flex;
    align-items: end;
    backdrop-filter: brightness(80%);
    border-radius: 10px;
    animation: gogo 4s linear infinite;
}

@keyframes gogo {

    0%,
    100% {
        box-shadow: 0 0 10px #2C2C2C, 0 0 20px #2C2C2C, 0 0 30px #2C2C2C;
    }

    50% {
        box-shadow: 0 0 5px #6C6C6C, 0 0 15px #6C6C6C, 0 0 25px #6C6C6C;
    }
}

/* archive */

.image-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 5em;
    margin: 6em;
}

.cadre-archive {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 571px;
    display: flex;
    align-items: end;
    backdrop-filter: brightness(80%);
    animation: drydry 4s linear infinite;
    border: 2px solid #2C2C2C;
    border-radius: 10px;
}

@keyframes drydry {

    0%,
    100% {
        box-shadow: 0 0 10px #2C2C2C, 0 0 20px #2C2C2C, 0 0 30px #2C2C2C;
    }

    50% {
        box-shadow: 0 0 5px #6C6C6C, 0 0 15px #6C6C6C, 0 0 25px #6C6C6C;
    }
}

.text-archive {
    margin: 4% auto;
    color: #FFEBCD;
    font-size: 24px;
}

/* archive contenu */

.cadre-archive-contenu {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: end;
    backdrop-filter: brightness(80%);
    animation: drydry 4s linear infinite;
    border: 2px solid #2C2C2C;
    border-radius: 10px;
}

@keyframes drydry {

    0%,
    100% {
        box-shadow: 0 0 10px #2C2C2C, 0 0 20px #2C2C2C, 0 0 30px #2C2C2C;
    }

    50% {
        box-shadow: 0 0 5px #6C6C6C, 0 0 15px #6C6C6C, 0 0 25px #6C6C6C;
    }
}

.archive-contenu-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    gap: 5em;
    margin: 6em;
}

.archive-contenu-titre {
    font-family: 'Helvetica';
    color: #2C2C2C;
    font-weight: bold;
    -webkit-text-stroke: 1px #FF6347;

}

.archive-contenu-text {
    font-family: 'Segoe UI';
    color: #6C6C6C;
    font-weight: bold;
    -webkit-text-stroke: 1px #2C2C2C;
}



















/* footer */

footer {
    text-align: center;
    padding: 10px;
    background-color: #FFEBCD;
}

footer a {
    text-decoration: none;
    color: #FF6347;
}